---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <Header />
  <main id="main-content">

    <section id="hero">

      <p>
        Hello! My name is <strong>Harrison Kirk</strong>.
      </p>

      <p>
        I'm a software engineer interested in the intersection of data, 
        technology, and public policy.
      </p>

      <br>

      <figure>
        <img src="/images/me_and_wren.jpeg" alt="Mojave">
        <figcaption>Mojave National Preserve, January 2024.</figcaption>
      </figure>

      <br>

      <p>
        I currently work at <a href="https://www.mathematica.org/">Mathematica</a> on the Data Platform team and am based in Los Angeles, California. I've worked 
        previously for <a href="https://www.edanalytics.org/">Education Analytics</a> and the <a href="https://www.slocounty.ca.gov/departments/health-agency/behavioral-health">County of San Luis
        Obispo Behavioral Health Department</a>.
      </p>

      <p>
        Check out my
        <a href="/resume/">resume</a> or <a href="/projects/">portfolio</a> for more on my 
        skills and experience.
      </p>

      <br>

      <p>
        <a href="mailto:harrison@hawkirk.com">Get in touch!</a>
      </p>

    </section>
      
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  #hero a {
    @apply underline hover:text-skin-accent;
  }
  #hero img {
    @apply rounded;
  }
  #hero strong {
    @apply font-bold;
  }
  #hero figcaption {
    @apply italic text-sm;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }
</style>
