---
import resumeData from '../assets/resumeData.json';

---

<article class="resume">
  <section id="experience">
    <h2>Experience</h2>
    {resumeData.cv.sections.experience.map((job) => (
    <div>
        <h3>{job.position} at {job.company}</h3>
      </div>
    ))}
  </section>

  <!-- Repeat for education, skills, projects, etc. -->
</article>
